.scale-portfolio{
    height: 450px;
    width: 770px;
    padding-top: 40px;
}
.s-nav{
    text-transform: capitalize !important;
}

.form.form-light{
    background-color:  rgba(248, 253, 254, 0.84);
}
#guarantee{
    z-index: 50;
    }
.package-column .package-price .price{
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
}
.package-column .package-price .currency{
    top:0;

}
.package-price{
    padding: 0;
}