.scale-portfolio{
    height: 450px;
    width: 770px;
    padding-top: 40px;
}

/*
.s-nav{
    text-transform: capitalize !important;
}
*/

.form.custom-form-pad{
    background: rgba(255, 255, 255, 0.73);
    padding: 45px 20px 15px;
}

.form.form-light{
    background: rgba(255, 255, 255, 0.83);
    
}
#portfolio{
    z-index: 50;
    background: white;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.footer .contactus-text{
    text-align: left;
}

.icon-socialmedia-08:before,.icon-socialmedia-05:before,.icon-socialmedia-16:before {
    border: 3px solid #1ac6ff;
    color: #1ac6ff;
    padding: 5px;
    border-radius: 5px;
    transition: border 0.4s, color 0.4s;


}


.icon-socialmedia-08:hover::before{
    color: #3b5998;
     border: 3px solid #3b5998;
}

.icon-socialmedia-05:hover::before{
    color: #0077b5;
     border: 3px solid #0077b5;
}

.icon-socialmedia-16:hover::before{
    color: #dd4b39;
     border: 3px solid #dd4b39;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 700px) {
    .form.custom-form-pad{

    padding: 35px 5px 0px 5px;
}
    .custom-form-pad .form-group{
        padding-bottom: 10px;
    }

    .heading-block{
        padding-top: 50px !important;
    }
}


.form.form-light{
    background-color:  rgba(248, 253, 254, 0.84);
}
#guarantee{
    z-index: 50;
    }
.package-column .package-price .price{
    font-size: 60px;
    font-weight: 500;
    line-height: 80px;
}
.package-column .package-price .currency{
    top:0;

}
.package-price{
    padding: 0;
}
.cd-service{
    padding: 50px;
}
#portfolio{
    z-index: 50;
    background: white;
}
@media (max-width: 480px){
    .product-price-wrapper::before{
        display: none;
    }
}
.scale-block{
    margin-bottom: 50px;
}
#services{
    background: #f0f0f1;
}

@media (max-width: 480px) {
    .cd-service{
        padding: 2px;
    }

}
.client-logo{
    height: 110px;
    width: 200px;
}
.section{
    padding: 5px !important;
}
.scale-banner{
    margin-top: 150px;
}

.static-header.clickthrough-version .overlay{

	background:
		-webkit-linear-gradient(45deg, hsla(0, 60%, 46%, 0.4) 0%, hsla(0, 60%,  46%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(175, 55%, 39%, 0.4) 10%, hsla(175, 55%, 39%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(182, 49%, 48%, 0.4) 10%, hsla(182, 49%, 48%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(37, 55%, 50%, 0.4) 100%, hsla(37, 55%, 50%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(0, 60%, 46%, 0.6) 0%, hsla(0, 60%, 46%, 0) 70%),
		linear-gradient(135deg, hsla(175, 55%, 39%, 0.6) 10%, hsla(175, 55%, 39%, 0) 80%),
		linear-gradient(225deg, hsla(182, 49%, 48%, 0.6) 10%, hsla(182, 49%, 48%, 0) 80%),
		linear-gradient(315deg, hsla(37, 55%, 50%, 0.6) 100%, hsla(37, 55%, 50%, 0) 70%);
    
     background:
		linear-gradient(45deg, hsla(0, 51%, 32%, 0.5) 0%, hsla(0, 51%, 32%, 0) 70%),
		linear-gradient(135deg, hsla(192, 54%, 48%, 0.5) 10%, hsla(192, 54%, 48%, 0) 80%),
		linear-gradient(225deg, hsla(177, 52%, 41%, 0.5) 10%, hsla(177, 52%, 41%, 0) 80%),
		linear-gradient(315deg, hsla(335, 47%, 29%, 0.5) 100%, hsla(335, 47%, 29%, 0) 70%);
    
    background:
		linear-gradient(45deg, hsla(0, 22%, 22%, 0.5) 0%, hsla(0, 22%, 22%, 0) 70%),
		linear-gradient(135deg, hsla(217, 37%, 18%, 0.5) 10%, hsla(217, 37%, 18%, 0) 80%),
		linear-gradient(225deg, hsla(189, 52%, 17%, 0.5) 10%, hsla(189, 52%, 17%, 0) 80%),
		linear-gradient(315deg, hsla(310, 47%, 7%, 0.5) 100%, hsla(310, 47%, 7%, 0) 70%);
	
}


/*
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
*/

